body {
	text-align: center;
}
h1 {
	margin-bottom: 30px;
	color: black;
	font: 55px Avenir, sans-serif;
}

h2 {
	color: black;
	font: 25px Avenir, sans-serif;	
}

input {
	height: 52px;
	width: 200px;
	text-align: center;
	font: 20px Avenir, sans-serif;
}

button {
    height: 65px;
    background: #88ddf7;
    border: 2px solid rgba(33, 68, 72, 0.59);
    border-radius: 5px;
 	/*text styling next*/
 	color: black;
    text-align: center;
    padding: 5px;
    font: 20px Avenir, sans-serif;
    cursor: pointer;
}

button[name="hint"] {
	margin: 20px;
}

button[name="playAgain"] {
	margin: 20px;
}

button:hover {
	color: black;
	background: #59cff4;
}

img {
	
}

.message {
	margin-top: 10px;
	margin-bottom: 50px;
	color: black;
	font: 25px Avenir, sans-serif;
}

.loser {
	display: none;
}

.winner {
	display: none;
}

