body {
	text-align: center;
}
h1 {
	margin-bottom: 30px;
	color: #c01b67;
	font-size: 40px;
}

input {
	height: 52px;
	width: 200px;
	text-align: center;
	font-size: 12px;
}

button {
    height: 52px;
    background: green;
    border: 2px solid rgba(33, 68, 72, 0.59);
    border-radius: 5px;
 	/*text styling next*/
 	color: white;
    text-align: center;
    padding: 5px;
    font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    cursor: pointer;
}

button[name="hint"] {
	margin: 10px;
    background: #6bd2db;
 	/*text styling next*/
 	color: #e9edf0;
}

button[name="playAgain"] {
	margin: 10px;
    background: #f0e2d7;
 	/*text styling next*/
 	color: #484547;
}

button:hover {
	color: white;
	background: #215e38;
}

button[name="hint"]:hover {
	color: #e9edf0;
	background: #528881;
}

button[name="playAgain"]:hover {
	color: #484547;
	background: #ccb6b4;
}

.message {
	margin: 20px;
	color: #555fa6;
	font-size: 20px;
}

.loser {
	display: none;
}

.winner {
	display: none;
}

