body {
	text-align: center;
}
h1 {
	margin-bottom: 30px;
	color: #c01b67;
	font: 45px American Typewriter, Lucida, serif;
}

input {
	height: 52px;
	width: 200px;
	text-align: center;
	font: 13px American Typewriter, Lucida, serif;
}

button {
    height: 52px;
    background: #cf5b6f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    border-radius: 5px;
 	/*text styling next*/
 	color: black;
    text-align: center;
    padding: 5px;
    font: 20px American Typewriter, Lucida, serif;
    cursor: pointer;
}

button[name="hint"] {
	margin: 10px;
}

button[name="playAgain"] {
	margin: 10px;
}

button:hover {
	color: black;
	background: #bf384f;
}

.message {
	margin: 10px;
	color: #c01b67;
	font: 20px American Typewriter, Lucida, serif;
	font-weight: italic;
}

.loser {
	display: none;
}

.winner {
	display: none;
}

